@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*
    Comentario
*@

@{
    int variableNum = 7;
    string variableString = "Hola Mundo";
    variableNum += 3;
}

<h2>Texto: @variableString, @variableNum</h2>

