@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Multiplicar</h1>
<form method="post">
    <input name="numero" placeholder="numero" />
    <button class="btn btn-outline-danger">Multiplicar</button>
</form>
@if (Model != null)
{
    <ul>
        @foreach (int numero in Model)
            {
            <li>@numero</li>
            }
    </ul>
}
